.git
.gitignore
.pytest_cache
.venv
__pycache__/
*.py[cod]
*.log
.env
.env.*
tests/
adaptive_student.zip
Dockerfile.dev
docker-compose.yml
README.md
node_modules/
npm-debug.log*
quiz/
arched-broker-487609-b7-6a33913a8de5.json